a {
    color: #000;
    opacity: 0.75;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    font-family: arial, sans-serif;
}

input {
    border: none;
}

footer {
    position: fixed;
    bottom: 0;
}

#about {
    grid-column: 1/2;
}

#store {
    grid-column: 2/3;
}

#gmail {
    grid-column: 4/5;
}

#images {
    grid-column: 5/6;
}

#tile_icon {
    grid-column: 6/7;
}

#tile_icon:hover {
    opacity: 1;
}

#sign-in {
    grid-column: 7/8;
    background-color: rgb(66, 133, 244);
    color: #fff;
    font-weight: bold;
    width: 65px;
    height: 28px;
    opacity: 1;
}

.topnav {
    display: grid;
    padding-left: 15px;
    padding-right: 30px;
    padding-top: 15px; 
    grid-template-columns: repeat(2, 50px) 1fr repeat(3, 50px) 70px;
    align-items: center;
    justify-items: center;
    font-size: 13px;
    top: 16px;
    opacity: 0.75;
}

#google_logo {
    position: fixed;
    top: 200px;
    left: 800px;
}

#search-bar {
    position: fixed;
    left: 680px;
    top: 310px;
    height: 44px;
    width: 482px;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    padding-left: 40px;
    background-color: transparent;
}

#search-bar:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

#search-icon {
    position: absolute;
    bottom: 84px;
    right: 380px;
    opacity: 0.3;
    height: 27%;
}

.buttons {
    display: flex;
    padding-top: 40px;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.search-buttons {
    background-color: #f2f2f2;
    font-size: 15px;
    color: #5F6368;
    width: 140px;
    height: 40px;
    border-radius: 2px;
    cursor: pointer;
}

.search-buttons:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border: 1px solid #c6c6c6;
    color: #000;
}

.search-form {
    position: fixed;
    top: 350px;
    left: 800px;
}

#advertising {
    grid-column: 1/2;
}

#business {
    grid-column: 2/3;
}

#how-search {
    grid-column: 3/4;
}

#privacy {
    grid-column: 5/6;
}

#terms {
    grid-column: 6/7;
}

#settings {
    grid-column: 7/8;
}

.bottomnav {
    display: grid;
    padding-left: 15px;
    padding-right: 30px;
    font-size: 14px;
    height: 40px;
    width: 100%;
    background-color:#f2f2f2;
    border-top: 1px solid #e4e4e4;
    grid-template-columns: repeat(2, 90px) 150px 1280px repeat(3, 70px);
    align-items: center;
    justify-items: center;
    opacity: 0.75;
}



